.requestCard {
  display: flex;
    flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 1rem;
  width: 30rem;
  text-align: left;
  padding: 0.2rem;
  border: 1px solid black;
}

.verify {
  background-color: green;
  color: white;
  text-align: center;
  margin: 0rem 13rem;
  padding: 0.2rem;
  border: 1px solid black;
}