.table-row{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.table-cell{
    padding: 10px;
    border: 1px solid black;
}
.table-row-green {
  background-color: #00FF00;
}

.table-row-yellow {
  background-color: #FFFF00;
}